
<div class="row">
    <form id="formBeneficiario" method="post">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="BNome">Nome:</label>
                    <input required="required" type="text" class="form-control" id="BNome" name="BNome" placeholder="Ex.: João" maxlength="50">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="BCPF">CPF:</label>
                    <input required="required" type="text" class="form-control" id="BCPF" name="BCPF" placeholder="Ex.: 999.999.999-99" maxlength="14">
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label></label>
                    <button type="submit" class="btn btn-sm btn-success">Incluir</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row

</div>